.item1 span,
.item2 span{
    position: absolute;
    animation-name: move;
    animation-duration:1s;
    z-index: 10;
    right: -5px;
    bottom: 60px;
}

@-webkit-keyframes move {
    0% {
        right: 20px;
        bottom: 40px;
    }
    100% {
        right: 0px;
        bottom: 90px;
    }
}
